<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Wish <%= @birthday_celebrant.name %> a very happy birthday!</h1>
    <p>
      Hey <%= @well_wisher.name || @well_wisher.email %>, it's your loved one's birthday today so don't forget to message them ASAP.
    </p>
    <p>Thanks for using our service and we wish you a very nice day!</p>
  </body>
</html>
