<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Waras Mubarak <%= @birthday_celebrant.name %>!</h1>
    <p>
      Hey <%= @well_wisher.name || @well_wisher.email %>, it's your loved one's waras today so don't forget to message them ASAP.
    </p>
  </body>
</html>
