<section class="grid w-full sm:w-3/4 md:max-w-md">
  <%# Validation Error Messages %>
  <%= render "devise/shared/error_messages", resource: @birthday_buddy %>
  <%# New Task form %>
  <%= render "form", buddy: @birthday_buddy %>
</section>