<div class="flex items-center mb-6 px-3">
  <%= image_tag("logo.png", class: "w-12 h-12 mr-2", alt: "logo") %>
  <span class="text-4xl font-semibold bg-gradient-text-clip">
    Birthday Threads
  </span>
</div>